<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap2 uap3 uap5 uap10 desktop desktop6 rescap">

  <Identity
    Name="xxanqw.SmartSink"
    Publisher="CN=2F14AD93-0EC0-47AB-B48A-A9E52EBCBC06"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>SmartSink</DisplayName>
    <PublisherDisplayName>xxanqw</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:PackageIntegrity>
      <uap10:Content Enforcement="on"/>
    </uap10:PackageIntegrity>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="smartsink"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="SmartSink"
        Description="Listen to audio from your phone directly from Windows (like in Linux)"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MedTile.png"
        Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="SmartSink.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="BluetoothAudioSinkStartup"
            Enabled="false"
            DisplayName="Bluetooth Audio Sink" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>
